/* About  */

#about {
    section {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        width: 100%;
        overflow: auto;
        border-style: solid;
        border-width: 4px;
        border-top-color: #c43c3c;
        border-left-color: #7d2525;
        border-right-color: #7d2525;
        border-bottom-color: #c43c3c;
        padding: 26px;
        text-align: justify;        

        .column-number {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            -webkit-column-gap: 55px;
            column-count: 2;
            column-gap: 55px;
        }

        .header-history{
            font-size: 1.2em;
            font-style: italic;
        }
    }
}