/* About  */

#about {
    section {
        background: $bg-opac;
        color: $fg;
        width: 80%;
        margin: 0 auto;   
        overflow: auto;
        border-style: solid;
        border-width: 4px;
        border-top-color: $det;
        border-left-color: $dark-det;
        border-right-color: $dark-det;
        border-bottom-color: $det;
        padding: 26px;
        text-align: justify;     

        .column-number {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            -webkit-column-gap: 55px;
            column-count: 2;
            column-gap: 55px;
        }

        .header-history{
            font-size: 1.2em;
            font-family: $font-italic;
            font-style: italic;
            color: $shadow-fg;
        }
    }
}