/* Calendar */

#calendar {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $breakpoint-desktop) {
            width: 100%;
        }

        #decrease-concert,
        #increase-concert {
            height: 80%;
            font-size: 6em;
            text-align: center;
            color: $bg-opac;
        }

        #arr-dec:hover,
        #arr-inc:hover {
            color: $det;
            cursor: pointer;
        }

        .container-map {
            width: 360px;
            height: 500px;
            border: 2px solid $bg-opac;
            border: solid 2px $dark-det;
        }

        .descr-show {
            width: 30%;
            background-color: $bg-opac;
            border: solid 2px $dark-det;
            border-left: none;
            padding: 10px;
            text-align: right;
        }

        .info-show {

            h3,
            h4,
            h5 {
                margin: 10px;
                color: $det;
            }

            h3 {
                font-size: 5em;
                font-weight: bold;
            }

            h4 {
                font-size: 2em;
                color: $fg;
            }

            h5 {
                font-size: 1.3em;
                font-weight: bold;
            }

            @media (max-width: $breakpoint-desktop) {
                h3 {
                    font-size: 2em;
                    font-weight: bold;
                }
    
                h4 {
                    font-size: 1em;
                    color: $fg;
                }
    
                h5 {
                    font-size: 1em;
                    font-weight: bold;
                }
            }
        }


        #googleMap {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%)
            }
        }
    }
}