/* Contact */

#contact {
    section {
        #wrap {
            width: 530px;
            margin: 20px auto 0;
            height: 100%;

            h1 {
                margin-bottom: 20px;
                text-align: center;
                font-size: 48px;
                text-shadow: 0 1px 0 $shadow-fg;
                font-family: $font-hand;
            }

            #form_wrap {
                overflow: hidden;
                height: 446px;
                position: relative;
                top: 0px;
                transition: all 1s ease-in-out 0.3s;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 128px;
                    left: 0px;
                    background: url("../src/assets/images/before.png");
                    width: 530px;
                    height: 316px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    background: url("../src/assets/images/after.png");
                    width: 530px;
                    height: 260px;
                }

                .hide {
                    &:after,
                    &:before {
                        display: none;
                    }
                }

                form {
                    background: $secondary-fg url("../src/assets/images/letter_bg.png");
                    position: relative;
                    top: 200px;
                    overflow: hidden;
                    height: 200px;
                    width: 400px;
                    margin: 0px auto;
                    padding: 20px;
                    border: 1px solid $fg;
                    border-radius: 3px;
                    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px $fg;
                    transition: all 1s ease-in-out 0.3s;
                }

                label {
                    margin: 11px 20px 0 0;
                    font-size: 16px;
                    color: #b3aba1;
                    text-transform: uppercase;
                    text-shadow: 0px 1px 0px $fg;
                }

                input[type="text"],
                textarea,
                input[type="email"] {
                    font: 14px normal normal uppercase helvetica, arial, serif;
                    color: $bg-opac;
                    background: none;
                    width: 360px;
                    height: 30px;
                    max-height: 125px;
                    max-width: 365px;
                    padding: 0px 10px;
                    margin: 0 0 10px 0;
                    border: 1px solid $secondary-fg;
                    border-radius: 5px;
                    box-shadow: inset 0px 0px 1px $shadow-fg;
                }

                input[type="email"] {
                    z-index: 1;
                    border: none;
                }

                textarea {
                    height: 80px;
                    padding-top: 14px;
                }

                textarea:focus,
                input[type="text"]:focus,
                input[type="email"]:focus {
                    background: $bg-full-opac;
                    z-index: 1;
                    border: 2px solid $bg;
                    outline: none;
                }

                input[type="submit"] {
                    position: relative;
                    font-size: 24px;
                    color: $shadow-fg;
                    text-shadow: 0 1px 0 $fg;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    background: none;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: opacity 0.6s ease-in-out 0s;
                    border: none;
                    margin-top: 15px;
                    z-index: 1;
                }

                &:hover {
                    height: 800px;
                    top: -200px;

                    form {
                        height: 530px;
                    }

                    input[type="submit"] {
                        z-index: 0;
                        opacity: 1;
                        transition: opacity 0.5s ease-in-out 1.3s;
                    }

                    input:hover[type="submit"] {
                        color: #435c70;
                    }
                }
            }
        }
    }
}