/* Disco */

#disco {
    section {
        display: flex;
        flex-direction: column;

        .container-disco {
            margin: 4% auto;
            width: 210px;
            height: 140px;
            position: relative;
            perspective: 1000px;
            margin-top: 14%;
        }

        #carousel {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;

            figure {
                display: block;
                position: absolute;
                width: 80%;
                height: 50%px;
                left: 10px;
                top: 10px;

                &:nth-child(1) {
                    transform: rotateY(0deg) translateZ(288px);
                }

                &:nth-child(2) {
                    transform: rotateY(90deg) translateZ(288px);
                }

                &:nth-child(3) {
                    transform: rotateY(180deg) translateZ(288px);
                }

                &:nth-child(4) {
                    transform: rotateY(270deg) translateZ(288px);
                }
            }
        }

        .disco-img {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            cursor: pointer;
            transition: all 0.5s ease;
            border-radius: 70%;
            width: 260px;
            height: 300px;
            border: 2px solid $bg;

            &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }

}

/* modal disco */

#modal-disco {
    .modal-content {
        background-color: $bg-opac;
    }

    .modal-header {
        display: flex;
    }

    #musics {
        background-color: $bg-opac;
        color: $fg;
        border-collapse: collapse;
        width: 100%;
        cursor: pointer;

        td {
            padding: 15px 20px;
        }

        tr:nth-child(even) {
            background-color: $det-opac;
        }

        tr:hover {
            background-color: $det;
        }

        td:nth-child(1):before {
            counter-increment: section;
            content: counter(section) " - ";
        }

    }

    .btn {
        padding: 10px;
        border-radius: 10px;
        background-color: $fg;
        cursor: pointer;

        &:hover{
            background-color: $det;
            color: $fg;
        }
    }
}