/* Error */

.page_404 {
    padding: 0;
    width: 100vw;
    height: 90vh;
    visibility: hidden;

    img {
        width: 100%;
    }

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .four_zero_four_bg {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        width: 60vw;
        background-position: center;

        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 80px;
        }

        .text-center {
            text-align: center;
            color: #000;
        }
    }

    .main-message {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

        span {
            display: flex;
            ;
            align-items: center;
            flex-direction: column;
        }
    }

    .link_404 {
        display: flex;
        justify-content: center;
        align-content: center;
        color: #fff !important;
        padding: 20px;
        border: none;
    }

    .contant_box_404 {
        margin-top: -50px;
    }


    @media (max-width: $breakpoint-tablet) {
        visibility: visible;

        .button {
            position: relative;
            background-color: #f39c12;
            border: none;
            padding: 20px;
            width: 200px;
            text-align: center;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;

            &:hover {
                background: #fff;
                box-shadow: 0px 2px 10px 5px #97B1BF;
                color: #000;
            }

            &:after {
                content: "";
                background: #f1c40f;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
            }

            &:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
            }
        }
    }
}