/* Footer */

$footer-height: 80px;

.footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $footer-height;
    width: 100%;
    background-color: $bg-full-opac;
    z-index: 1;

    &:hover {
        background: $bg-opac;
    }

    .social,
    .controls,
    .music-description {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;

        i {
            cursor: pointer;
            padding: 10px;
        }
    }
    
    .controls {
        color: $fg;

        i:hover{
            color: $shadow-fg;
        }
    }

    .music-description {
        padding: 10px;
        flex-direction: column;
        color: $fg;

        h5 {
            &:hover {
                color: $shadow-fg;
            }
        }

        h6 {
            &:hover {
                color: $shadow-fg;
            }
        }
    }
}