/*	ASIDE  */
.nav-menu {
    display: flex;
    position: fixed;
    top: 38%;
    left: 0;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: $bg-full-opac;
    border-radius: 0px 8px 8px 0px;
    padding: 15px;
    
    &:hover {
        background: $bg-opac;
    }

    i {
        margin-top: 4px;
        text-align: center;
    }

    .icon-background {
        color: transparent;
    }

    .fa-stack {
        margin-bottom: 2px
    }

    .link {
        color: $fg;

        &:hover {
            color: $det;
        }
    }

    .icon-hover {
        color: $det;
    }

    @media (max-width: $breakpoint-tablet) {
        display: none;
     }
}





