/* vars */
/* Basic */
@-ms-viewport {
  width: device-width;
}
body {
  scrollbar-width: 0;
  scrollbar-color: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  counter-reset: section;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.panel {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  content: "";
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/opensans-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/opensans-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("../assets/fonts/opensans-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../assets/fonts/opensans-light-webfont.woff") format("woff");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  font-family: "OpenSans", Arial, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.typewritter {
  animation: typing 3.5s steps(40, end);
}

.rotation {
  animation: rotation 20s infinite linear;
}
.rotation:hover {
  animation-play-state: paused;
}

/* Icon */
.social-link {
  border: none;
}

.social {
  padding: 10px;
  font-size: 1.3em;
}

.fa-instagram {
  color: #fff;
}
.fa-instagram:hover {
  color: #dc4a38;
}

.fa-facebook {
  color: #fff;
}
.fa-facebook:hover {
  color: #3b5998;
}

.fa-tumblr {
  color: #fff;
}
.fa-tumblr:hover {
  color: #35465c;
}

.fa-youtube {
  color: #fff;
}
.fa-youtube:hover {
  color: #c52a2a;
}

.fa-twitter {
  color: #fff;
}
.fa-twitter:hover {
  color: #00acee;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: 0.9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^=up]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^=up]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^=up]::before,
[tooltip][flow^=up]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^=down]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^=down]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^=down]::before,
[tooltip][flow^=down]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^=left]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^=left]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^=right]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}

[tooltip][flow^=right]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}
/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^=up]:hover::before,
[tooltip][flow^=up]:hover::after,
[tooltip][flow^=down]:hover::before,
[tooltip][flow^=down]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^=left]:hover::before,
[tooltip][flow^=left]:hover::after,
[tooltip][flow^=right]:hover::before,
[tooltip][flow^=right]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/*	ASIDE  */
.nav-menu {
  display: flex;
  position: fixed;
  top: 38%;
  left: 0;
  width: 70px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 8px 8px 0px;
  padding: 15px;
}
.nav-menu:hover {
  background: rgba(0, 0, 0, 0.7);
}
.nav-menu i {
  margin-top: 4px;
  text-align: center;
}
.nav-menu .icon-background {
  color: transparent;
}
.nav-menu .fa-stack {
  margin-bottom: 2px;
}
.nav-menu .link {
  color: #fff;
}
.nav-menu .link:hover {
  color: #9a031e;
}
.nav-menu .icon-hover {
  color: #9a031e;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: cover;
}

/* Footer */
.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.footer-menu:hover {
  background: rgba(0, 0, 0, 0.7);
}
.footer-menu .social,
.footer-menu .controls,
.footer-menu .music-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.footer-menu .social i,
.footer-menu .controls i,
.footer-menu .music-description i {
  cursor: pointer;
  padding: 10px;
}
.footer-menu .controls {
  color: #fff;
}
.footer-menu .controls i:hover {
  color: #b3a895;
}
.footer-menu .music-description {
  padding: 10px;
  flex-direction: column;
  color: #fff;
}
.footer-menu .music-description h5:hover {
  color: #b3a895;
}
.footer-menu .music-description h6:hover {
  color: #b3a895;
}

/* Home */
#home #logo {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #b3a895 3px 2px 0;
  font-size: 4em;
}
#home .moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #fff;
  margin: 0 auto;
  margin-top: 10%;
}
#home .title {
  background-color: transparent;
  padding: 10px;
  max-width: 60%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 200px;
  white-space: nowrap;
}
#home .title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 42%;
  height: 1px;
  width: 3%;
  /* or 100px */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #9a031e;
}
#home .title:after {
  content: "";
  position: absolute;
  left: 41%;
  bottom: 95%;
  height: 1px;
  width: 20%;
  /* or 100px */
  border-bottom: 10px solid #9a031e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

/* About  */
#about section {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  border-style: solid;
  border-width: 4px;
  border-top-color: #9a031e;
  border-left-color: #7d2525;
  border-right-color: #7d2525;
  border-bottom-color: #9a031e;
  padding: 26px;
  text-align: justify;
}
#about section .column-number {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -webkit-column-gap: 55px;
  column-count: 2;
  column-gap: 55px;
}
#about section .header-history {
  font-size: 1.2em;
  font-family: "OpenSansItalic", Arial, sans-serif;
  font-style: italic;
  color: #b3a895;
}

/* Members */
#members section {
  display: flex;
  flex-direction: column;
}
#members section .member-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
}
#members section .member-row:nth-child(2) {
  justify-content: center;
}
#members section .member-row .container-member .pseudo {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 10px;
  padding: 65px;
  position: relative;
}
#members section .member-row .container-member .pseudo:before {
  border: 5px solid #000;
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}
#members section .member-row .container-member .pseudo:hover {
  transition: background-color 1s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
#members section .member-row .container-member .pseudo p {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  margin-top: 14px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.1em;
}

#biography .modal-content {
  background-color: rgba(0, 0, 0, 0.7);
}
#biography .modal-header {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
#biography .modal-body {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
#biography #img-member {
  max-height: 200px;
  padding: 20px;
}

/* Disco */
#disco section {
  display: flex;
  flex-direction: column;
}
#disco section .container-disco {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  margin-top: 14%;
}
#disco section #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
#disco section #carousel figure {
  display: block;
  position: absolute;
  width: 80%;
  height: 50% px;
  left: 10px;
  top: 10px;
}
#disco section #carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}
#disco section #carousel figure:nth-child(2) {
  transform: rotateY(90deg) translateZ(288px);
}
#disco section #carousel figure:nth-child(3) {
  transform: rotateY(180deg) translateZ(288px);
}
#disco section #carousel figure:nth-child(4) {
  transform: rotateY(270deg) translateZ(288px);
}
#disco section .disco-img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 70%;
  width: 260px;
  height: 300px;
  border: 2px solid #000;
}
#disco section .disco-img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* modal disco */
#modalDisco .modal-content {
  background-color: rgba(0, 0, 0, 0.7);
}
#modalDisco .modal-header {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
#modalDisco #musics {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}
#modalDisco #musics td {
  padding: 8px;
}
#modalDisco #musics tr:nth-child(even) {
  background-color: rgba(154, 3, 30, 0.6);
}
#modalDisco #musics tr:hover {
  background-color: #9a031e;
}
#modalDisco #musics td:nth-child(1):before {
  counter-increment: section;
  content: counter(section) " - ";
}

/* Calendar */
#calendar {
  height: 100vh;
}
#calendar section {
  height: 100%;
}
#calendar section #decrease-concert,
#calendar section #increase-concert {
  width: 15%;
  height: 80%;
  float: left;
  font-size: 6em;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 23%;
}
#calendar section #arr-dec:hover,
#calendar section #arr-inc:hover {
  color: #9a031e;
  cursor: pointer;
}
#calendar section .container-map {
  width: 30%;
  height: 80%;
  border: 2px solid rgba(0, 0, 0, 0.7);
  margin-top: 5%;
  float: left;
  border: solid 2px #7d2525;
}
#calendar section .descr-show {
  width: 30%;
  min-height: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 2px #7d2525;
  border-left: none;
  margin-top: 15%;
  float: left;
  text-align: right;
}
#calendar section .info-show h3,
#calendar section .info-show h4,
#calendar section .info-show h5 {
  margin: 10px;
  color: #9a031e;
}
#calendar section .info-show h3 {
  font-size: 5em;
  font-weight: bold;
}
#calendar section .info-show h4 {
  font-size: 2em;
  color: #fff;
}
#calendar section .info-show h5 {
  font-size: 1.3em;
  font-weight: bold;
}
#calendar section #googleMap {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#calendar section #googleMap:hover {
  filter: grayscale(0%);
}

/* Contact */
#contact section #wrap {
  width: 530px;
  margin: 20px auto 0;
  height: 100%;
}
#contact section #wrap h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 1px 0 #b3a895;
}
#contact section #wrap #form_wrap {
  overflow: hidden;
  height: 446px;
  position: relative;
  top: 0px;
  transition: all 1s ease-in-out 0.3s;
}
#contact section #wrap #form_wrap:before {
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0px;
  background: url("../assets/images/before.png");
  width: 530px;
  height: 316px;
}
#contact section #wrap #form_wrap:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url("../assets/images/after.png");
  width: 530px;
  height: 260px;
}
#contact section #wrap #form_wrap .hide:after, #contact section #wrap #form_wrap .hide:before {
  display: none;
}
#contact section #wrap #form_wrap form {
  background: #f8f5f1 url("../assets/images/letter_bg.png");
  position: relative;
  top: 200px;
  overflow: hidden;
  height: 200px;
  width: 400px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  transition: all 1s ease-in-out 0.3s;
}
#contact section #wrap #form_wrap label {
  margin: 11px 20px 0 0;
  font-size: 16px;
  color: #b3aba1;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
}
#contact section #wrap #form_wrap input[type=text],
#contact section #wrap #form_wrap textarea,
#contact section #wrap #form_wrap input[type=email] {
  font: 14px normal normal uppercase helvetica, arial, serif;
  color: rgba(0, 0, 0, 0.7);
  background: none;
  width: 360px;
  height: 30px;
  max-height: 125px;
  max-width: 365px;
  padding: 0px 10px;
  margin: 0 0 10px 0;
  border: 1px solid #f8f5f1;
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px #b3a895;
}
#contact section #wrap #form_wrap input[type=email] {
  z-index: 1;
  border: none;
}
#contact section #wrap #form_wrap textarea {
  height: 80px;
  padding-top: 14px;
}
#contact section #wrap #form_wrap textarea:focus,
#contact section #wrap #form_wrap input[type=text]:focus,
#contact section #wrap #form_wrap input[type=email]:focus {
  background: rgba(255, 255, 255, 0.35);
  z-index: 1;
  border: 2px solid #000;
  outline: none;
}
#contact section #wrap #form_wrap input[type=submit] {
  position: relative;
  font-size: 24px;
  color: #7c7873;
  text-shadow: 0 1px 0 #fff;
  width: 100%;
  text-align: center;
  opacity: 0;
  background: none;
  cursor: pointer;
  border-radius: 3px;
  transition: opacity 0.6s ease-in-out 0s;
  border: none;
  margin-top: 15px;
  z-index: 1;
}
#contact section #wrap #form_wrap:hover {
  height: 800px;
  top: -200px;
}
#contact section #wrap #form_wrap:hover form {
  height: 530px;
}
#contact section #wrap #form_wrap:hover input[type=submit] {
  z-index: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 1.3s;
}
#contact section #wrap #form_wrap:hover input:hover[type=submit] {
  color: #435c70;
}

/*# sourceMappingURL=index.css.map */
