/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
    width: device-width;
}

body,
html {
    scrollbar-width: 0;
    scrollbar-color: transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    counter-reset: section;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.panel {
    min-height: 100vh;
    max-width: 80vw;
    margin: 50px auto;
    padding: 10px;
    content: "";

    @media (max-width: $breakpoint-desktop) {
        min-height: 50vh;
    }
}