@font-face {
    font-family: "OpenSans";
    src: url("../src/assets/fonts/opensans-regular-webfont.woff") format("woff");
}


@font-face {
    font-family: "OpenSansItalic";
    src: url("../src/assets/fonts/opensans-italic-webfont.woff") format("woff");
}


$font-italic: 'OpenSansItalic',
Arial,
sans-serif;
$font-serif: 'OpenSans',
Arial,
sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: $font-serif;
}