@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../assets/fonts/opensans-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "OpenSansItalic";
    src: url("../assets/fonts/opensans-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../assets/fonts/opensans-light-webfont.woff") format("woff");
}

$font-light: 'OpenSansLight',
Arial,
serif;
$font-italic: 'OpenSansItalic',
Arial,
sans-serif;
$font-bold: 'OpenSansBold',
Arial,
sans-serif;
$font-serif: 'OpenSans',
Arial,
sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: $font-serif;
}