@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

$font-serif: 'OpenSans',
Arial,
sans-serif;
$font-hand: 'Indie Flower',
cursive;

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: $font-serif;
}